<!DOCTYPE html>
<html lang="en">
  <header th:fragment="header">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <div class="fs-1 fw-semibold px-2">E-Commerce</div>
        <div class="d-flex justify-content-end">
          <div>
            <div class="navbar-nav">
              <a class="nav-link" href="/product">Product</a>
              <a class="nav-link" href="/category">Category</a>
              <a class="nav-link" href="/orderDetails">Order</a>
              <a class="nav-link" href="customer">Customer</a>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </header>
</html>
